<!DOCTYPE>
<html ng-app="myApp">
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

<title>Administration Area</title>
</head>
<body>
<div class="container" ng-controller="AppCtrl">
	<h1>Admin Access</h1>
	<a ng-href="index.html"><button class=' btn btn-success pull-right' value="Homepage">Homepage</button></a>

	<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Price</th>
				<th>Category</th>
				<th>Description</th>
				<th>Image</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><input class="form-control" ng-model="product.name"></td>
				<td><input class="form-control" ng-model="product.price"></td>
				<td><input class="form-control" ng-model="product.category"></td>
				<td><input class="form-control" ng-model="product.description"></td>
				<td><input class="form-control" ng-model="product.image"></td>
				<td><button class="btn btn-primary" ng-click="addProduct()">Add Product</button></td>
				<td><button class="btn btn-info" ng-click="update(product._id)">Update</button></td>
				<td><button class="btn btn-info" ng-click="deselect()">Clear</button></td>
			</tr>
			<tr ng-repeat="product in products">
				<td>{{product.name}}</td>
				<td>{{product.price}}</td>
				<td>{{product.category}}</td>
				<td>{{product.description}}</td>
				<td>{{product.image}}</td>
				<td><button class="btn btn-danger" ng-click="remove(product._id)">Remove</button></td>
				<td><button class="btn btn-warning" ng-click="edit(product._id)">Edit</button></td>
			</tr>
		</tbody>
	</table>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<script src="admin_controller/controller.js"></script>
</body>
</html>