<!DOCTYPE html>
<html ng-app="Main">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>Household Products Webshop</title>
	<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="container">
		<h1>Products of the Future</h1>
		<input class="well" type="search" placeholder="Search products" ng-model="productName" />


	<div ng-controller="cartController" class="well">

    <h3>Cart</h3>

    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Price per Product</th>
            <th>Option</th>

        </tr>
        </thead>
        <tbody>

        <tr ng-repeat="cartProduct in cartProducts">
            <td>{{cartProduct.product.name}}</td>
            <td>{{cartProduct.product.price}} DKK</td>
            <td ng-model="quantity">
            {{cartProduct.quantity}}
            <button class="btn btn-success pull-right" ng-click="increaseQuantity(cartProduct.product)">+</button>
            <button class="btn btn-danger pull-right" ng-click="decreaseQuantity(cartProduct.product)">-</button>
            </td>
            <td>{{cartProduct.total }} DKK</td>
            <td>
            <span>  <button class=' btn btn-danger' value="Delete" ng-click="removeItem(cartProduct)"> Delete </button>
            </span>
            </td>
        </tr>

        </tbody>
        <tfoot>
            <tr>
            <td><strong>Total Price</strong></td>
            <td></td>
            <td></td>
            <td><strong>{{cartTotal}} DKK</strong></td>
            <td></td>
            </tr>
        </tfoot>
    </table>
	</div>


		<div ng-view>
		</div>
		
</div>
	
	<script src="node_modules/angular/angular.min.js"></script>
	<script src="node_modules/angular-route/angular-route.min.js"></script>
	<script src="app.module.js"></script>
	<script src="cart/cart.service.js"></script>
	<script src="products/products.service.js"></script>
	<script src="cart/cart.controller.js"></script>
	<script src="products/products.controller.js"></script>
	<script src="products/product.controller.js"></script>
</body>
</html>